@model IEnumerable<Product>
@foreach (var item in Model)
{
    <div class="col mb-5">
        <div class="card h-100">
            <a asp-controller="Products" asp-action="Detail" asp-route-id="@item.Id">
            <img class="card-img-top" src="/Img/@item.Image" alt="@item.Name" height="450" width="300">
            </a>
            <div class="card-body p-4">
                <div class="text-center">
                    <h5 class="fw-bolder">@item.Name</h5>
                    @item.Price
                </div>
            </div>
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/Products/Detail/@item.Id">İncele</a></div>
            </div>
        </div>
    </div>
}