@{
    ViewData["Title"] = "Home Page";
}

<body class="bg-dark">
<header class="p-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <div class="text-center text-light table-active">
                    <h1 class="display-7">
               
          
                    <div class="text-bg-dark me-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
      <div class="my-3 py-3">
        <h2 class="display-5">Serkan Bilsel</h2>
          <p class="lead">Görev 5 Asp.Net Mvc Uygulama.</p>
      </div>
      <div class="bg-light shadow-sm mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;">


                            <p class="text-dark lead p-5" >
                                Ödev Tanımı ; <br />
                                "" Asp .Net MVC ile bootstrap kullanarak anasayfa, kategori ve blog detay dan oluşan blog sitesi yapımı.
                                Sayfalarda Model class ları kullanılsın
                                Ek olarak bir de iletişim sayfası yapabilirsiniz""
                            </p>

      </div>
    </div>

        </div>
    </div>
</header>


</div>
<</body>
