@model HomePageViewModel
@{
    ViewData["Title"] = "Anasayfa";
}

<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">

        @foreach (var item in Model.Sliders)
        {
            <div class="carousel-item @(item == Model.Sliders.FirstOrDefault() ? "active" : "")">
                <img src="/Images/@item.Image" class="d-block w-100" alt="...">
            </div>
        }
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->
<div class="text-center">
    <h1 class="display-4">Ürünlerimiz</h1>
    <p>Sizin İçin Seçtiklerimiz</p>
</div>

<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        @foreach (var item in Model.Products)
        {
            <partial name="_ProductView" model="item" />
        }
    </div>
</div>


<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img src="https://pbs.twimg.com/profile_images/1390448160934305793/ohii8Hxq_400x400.png" alt="" height="140" width="140" class="rounded-circle" />
            <h2 class="fw-normal">Görev 7</h2>
            <p>
                Asp .Net Core MVC ile bootstrap kod snippetlarını kullanarak kurumsal site oluşturma.

                Uygulamada Products, Categories, Slider ve User Model Class ları tanımlanacak<br />
                Veritabanında Gorev7ProjeDb isminde bir veritabanı oluşturup içerisine manuel olarak model classlarındaki tablolar ve kolonları oluşturulacak<br />
                Projeye Admin isminde bir area eklenip bu area ya bootstrap ın ~/examples/dashboard/ adresindeki şablon uygulanacak<br />
                Projenin ön yüzüne de ~/examples/carousel/ adresindeki şablon uygulanacak<br />
                Not: Veritabanı işlemleri yapılmayacak
            </p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="https://www.teknologweb.com/wp-content/uploads/2017/10/asp-net-mvc-area-nedir.jpg" alt="" height="140" width="140" class="rounded-circle" />
            <h2 class="fw-normal">Görev 8</h2>
            <p>
                7. görevde yaptığımız projeye entityframework core yüklenip model class larımızı kullanarak databasecontext yapalım. <br />
                Sql server da code first yöntemiyle migration oluşturup veritabanını oluşturalım.<br />
                Admin panelinde Products, Categories, Slider ve User Model Class ları için crud işlemlerini yapalım.
            </p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img src="https://www.iconbunny.com/icons/media/catalog/product/cache/2/thumbnail/600x/1b89f2fc96fc819c2a7e15c7e545e8a9/1/7/1769.12-sql-icon-iconbunny.jpg" alt="" height="140" width="140" class="rounded-circle" />
            <h2 class="fw-normal">Görev 9</h2>
            <p>
                Görev 7 de başladığımız Asp.Net Mvc Kurumsal Site projesine Brand isminde 1 model class ı daha ekleyelim.<br />

                Brand class ında int ıd, string name, string description, createdate, string logo ve bool isactive propertyleri olsun<br />
                Bu class ı da databasecontext e ekleyelim ve projeye yeni bir migrationla ekleme yapıp veritabanını güncelleyerek tablosunu oluşturalım<br />
                Admin panelinde controller ve view larını ekleyip Crud işlemerini yapalım
            </p>
            <p><a class="btn btn-secondary" href="#">View details »</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">GÖREV 10 <span class="text-body-secondary">Asp.Net Mvc Kurumsal Site - Login & Front End</span></h2>
            <p class="lead">
                Update ; 29 NİSAN 2023
                Admin panelini yaptığımız siteye derste öğrendiğimiz şekilde login sistemi geliştirme ve admin panelinden girilen içerikleri sitenin ön yüzünde gösterme işlemlerini yapalım.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://www.teknologweb.com/wp-content/uploads/2017/10/asp-net-mvc-area-nedir.jpg" alt="" height="500" width="500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1">Görev 8 <span class="text-body-secondary">Silicon Academy Golden Made</span></h2>
            <p class="lead">
                7. görevde yaptığımız projeye entityframework core yüklenip model class larımızı kullanarak databasecontext yapalım.
                Sql server da code first yöntemiyle migration oluşturup veritabanını oluşturalım.
                Admin panelinde Products, Categories, Slider ve User Model Class ları için crud işlemlerini yapalım..
            </p>
        </div>
        <div class="col-md-5 order-md-1">
            <img src="https://d3mxt5v3yxgcsr.cloudfront.net/courses/5317/course_5317_image.jpeg" alt="" height="500" width="500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" />
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">GÖREV 9 <span class="text-body-secondary">Silicon Academy.</span></h2>
            <p class="lead">
                Görev 7 de başladığımız Asp.Net Mvc Kurumsal Site projesine Brand isminde 1 model class ı daha ekleyelim.
                Brand class ında int ıd, string name, string description, createdate, string logo ve bool isactive propertyleri olsun
                Bu class ı da databasecontext e ekleyelim ve projeye yeni bir migrationla ekleme yapıp veritabanını güncelleyerek tablosunu oluşturalım
                Admin panelinde controller ve view larını ekleyip Crud işlemerini yapalım.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRJjLF3DlHEQuHDsMUdmw9DevXeyf3raaslNiDfJqzkEZB1m5Jh0_CXZzEoVwaOrkmlpU&usqp=CAU" alt="" height="500" width="500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" />
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div>  