
@{
}

<h1>Model Validation</h1>

<p>
    Model class larımızın property lerine boş geçilmez, boş bırakılabilir gibi ayarların yapışdığı işlem
</p>

<ul>
    <li>
        <a asp-action="UyeListesi">
            Üye Listesi
        </a>
    </li>
</ul>