

<div class="text-center text-light table-active">
    <h1 class="display-7">
        "Hikyalerim"
        <br />
    </h1>

    <p>
        Bu sayfada hayatımda geçen gelişmeleri anlatıyor olacağım..
    </p>
</div>

<hr />


<body class="bg-dark text-light">
    <div class="container my-5 bg-dark">
        <div class="row">
            <div class="col-md-12 mb-5 ">
                <div class="card bg-dark">
                    <img class="card-img-top" src="https://knowledgeone.ca/wp-content/uploads/2019/07/metacognition_1.jpg" alt=Yolculuk">
                    <div class="card-body">
                        <h5 class="card-title">Silicon Academy - Yazılım Eğitimi Yolculuğum</h5>
                        <p class="card-text ">
                            Selam ben Serkan. Yıllardır pek çok girişimlerim oldu ve bu girişimlerin yarısından çoğu beni tatmin etmedi
                            fakat kafamda 2 senedir hep yazılım eğitimi alıp yazılımcı olmak global bir iş yapmak dünyanın her yerine gidebilme özgürlüğünü kazandıracak
                            bir meslek olan "Software developer" olmak vardı. Ve bu yolculuğuma Silicon Academy ile başladım..
                        </p>
                        <a href="#" class="btn btn-primary">Devamını Oku</a>
                    </div>
                </div>
            </div>

            <div class="col-md-12 mb-4">
                <div class="card bg-dark">
                    <img class="card-img-top" src="https://www.aptimore.com/wp-content/uploads/2017/01/Fotolia_132135071_Subscription_Monthly_S.jpg" alt="İlerleme">
                    <div class="card-body">
                        <h5 class="card-title">İlk Aşamayı Başarı Belgesi İle Bitirmek</h5>
                        <p class="card-text">Yazılımcılığı her zaman çok ciddiye aldım.. Yazılımcı olmak yazılım öğrenmek ve bununla yaşamak benim için yeterli bir
                            sebepti. 
                        </p>
                        <a href="#" class="btn btn-primary">Devamını Oku</a>
                    </div>
                </div>
            </div>

        </div>
    </div>


</body>