
@{
    ViewData["Title"] = "MVC 14 Filter Using";
}

<h1>  MVC 14 Filter Using</h1>


<h4>
    MVC filter, ASP.NET MVC'de bir özelliktir ve web uygulamalarında gelen isteklere yanıt vermeden önce veya sonra bir dizi işlem yapmak için kullanılır.

    MVC filter'lar, kod tekrarını önlemek ve yazılım geliştirme sürecinde birçok avantaj sağlamak için kullanılır. Örneğin, belirli bir özelliği uygulamanın herhangi bir noktasına uygulamak isterseniz, MVC filter kullanarak bunu tek bir yerde tanımlayabilir ve uygulamanın herhangi bir yerinde otomatik olarak uygulayabilirsiniz.

    MVC filter'lar, Authorization, Action, Result ve Exception gibi farklı türleri vardır. Bu filtrelerin her biri, farklı bir aşamada işlemleri yürütür. Örneğin, Authorization filtresi, kullanıcının yetkilendirme işlemlerini gerçekleştirirken Action filtresi, ilgili işlemi yürütmekten önce veya sonra bazı işlemleri gerçekleştirir.

    MVC filter'lar, web uygulamalarında istekleri işleme sürecinde çeşitli işlemler gerçekleştirmek için kullanılabilen güçlü bir araçtır.
</h4>

<h3>
    @ViewBag.Kullanici 
</h3>