@model Kullanici
@{
    ViewData["Title"] = "Kullanici";

}
<h1>Kullanici</h1>
@*@Model.Ad
   
 Sayfada Modeli bu şekilde kullandığımızda  

 " NullReferenceException: Object reference not set to an instance of an object."

 Hatası alırsak. Modelimizin için controller da doldurulmamıştır

*@